@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html, body{
    font-family: Ubuntu, sans-serif;
    width: 100%;
    height: 100%;
}

/* header */

.navbar-nav .nav-link:hover {
    color: #F2C22D;
}

/* Sobre */

#sobre-left{
    background-color: #F2C22D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sobre p{
    font-size: 0.9rem;
}


/* Equipe */

#equipe{
    background-color: #f5f5f5;
}

/* Equipe */ /* Animações */

.image-container {
    position: relative;
    width: 75%;
    border: 3px solid #ffc107; /* Yellow border */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Shadow effect */
    overflow: hidden; /* Esconde o texto inicialmente */
    padding: 0;
}

.image-container img {
    display: block;
    width: 100%;
    height: 200px;
}

/* Animação Equipe */
.overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: bottom 0.5s ease-in-out;
}

.overlay h4 {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.overlay p {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out 0.1s, opacity 0.5s ease-in-out 0.1s; /* Delay to stagger the animation */
}

.image-container:hover .overlay {
    bottom: 0;
}

.image-container:hover .overlay h4,
.image-container:hover .overlay p {
    transform: translateY(0);
    opacity: 1;
    animation: bounce 0.5s ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10%);
    }
}

/* Cores específicas para cada div */
.overlay.red {
    background-color: rgba(255, 0, 0, 0.7);
}

.overlay.pink {
    background-color: rgba(231, 178, 164, 0.7);
}

.overlay.blue {
    background-color: rgba(83, 83, 236, 0.7);
}

.overlay.yellow {
    background-color: rgba(255, 255, 0, 0.7);
}

.overlay.purple {
    background-color: rgba(128, 0, 128, 0.7);
}

/* Image modal */

.grayscale {
    filter: grayscale(100%);
}

.shadow-light {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Portfolio */

.carousel-item img {
    width: 100%;
    height: 300px; /* Ajuste a altura conforme necessário */
    object-fit: cover; /* Ajuste para conter ou preencher */
}

/* Contato */

#contato-left{
    background-color: #F2C22D;
    color:#fff
}

/* Rodapé */

#footer{
    padding: 15px;
    color: #fff;
    font-size: 14px;
    width: 100%;
    background-color: #333;
    transition: .3s;
}
