@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html, body{
    font-family: Ubuntu, sans-serif;
    width: 100%;
    height: 100%;
}

/*Menu responsivo*/

.logo{
    margin: 2px;
}

a {
    color:#333;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color:#F2C22D;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Ubuntu, sans-serif;
    height: 8vh;  
    background-color: #f5f5f5;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-top: 12px;
    margin-right: 40px;
}

/* Menu Hamburguer */
.mobile-menu{
    cursor:pointer;
    display: none;
    margin-right: 3%;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #333;
    margin: 8px;
    transition: 0.3s;
    
}

/* Menu animation */
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


/* Sobre */
#Sobre-left{
    background-color: #F2C22D;
    width: 50%;
}

#Sobre-right{
    width: 50%;
}

.full-height {
    height: 50vh; /* Altura total da viewport */
}

/* Equipe */
#Equipe{
    background-color: #f5f5f5;
}

.img-container{
    height: 300px;
}


.image-container {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.image-container img {
    width: 100%;
    height: 100%;
}

/* Animação Equipe */
.overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: bottom 0.5s ease-in-out;
}

.overlay h4 {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.overlay p {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out 0.1s, opacity 0.5s ease-in-out 0.1s; /* Delay to stagger the animation */
}

.image-container:hover .overlay {
    bottom: 0;
}

.image-container:hover .overlay h4,
.image-container:hover .overlay p {
    transform: translateY(0);
    opacity: 1;
    animation: bounce 0.5s ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10%);
    }
}

/* Cores específicas para cada div */
.overlay.red {
    background-color: rgba(255, 0, 0, 0.7);
}

.overlay.pink {
    background-color: rgba(231, 178, 164, 0.7);
}

.overlay.blue {
    background-color: rgba(83, 83, 236, 0.7);
}

.overlay.yellow {
    background-color: rgba(255, 255, 0, 0.7);
}

.overlay.purple {
    background-color: rgba(128, 0, 128, 0.7);
}

/* Portfolio */
/*.carousel-control-prev{
    margin-left: -115px;
}

.carousel-control-next{
    margin-right: -115px;
}

.carousel-indicators{
    margin-bottom: -35px;
}*/

.carousel-item img {
    width: 100%;
    height: 300px; /* Ajuste a altura conforme necessário */
    object-fit: cover; /* Ajuste para conter ou preencher */
}

#portfolio{
    background-color: #f5f5f5;
}

/* Contatos */
#contato-left{
    background-color: #F2C22D;
    color:#fff
}

/* Rodapé */
#footer{
    padding: 15px;
    color: #fff;
    font-size: 14px;
    width: 100%;
    background-color: #333;
    transition: .3s;
}


/* ScroolBar design */
*::-webkit-scrollbar{
    width: 10px;
}

*::-webkit-scrollbar-track{
    width: 12px;
    box-shadow: inset 0 0 .3rem #00000050;
    background-color: #fff;
}

*::-webkit-scrollbar-thumb{
    background-color: #333;
}

/* media responsiva */ 
@media (max-width: 999px){
    
    body {
        
        overflow-x: hidden;
    }

    .nav-list{
        position: absolute;
        top: 108vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        background: #f5f5f5;
    }
    
    .nav-list li {
        margin-left: 0;
        text-decoration: underline;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active{
        transform: translateX(0);
    }

    @keyframes navLinkFade{
        from {
            opacity: 0;
            transform: translateX(50px) ;
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
    }

    #Sobre {
        flex-direction: column !important;
    }

    #Sobre-left, #Sobre-right {
        margin: 0 !important;
        width: 100% !important;
        padding: 0 !important;
    }

    #Sobre-left{
        padding: 5%;
    }
}

/*@media (min-width: 451px) and (max-width: 800px){
    body {
        
        overflow-x: hidden;
    }

    /* Home 
    #Home{
        display: flex !important;
        height: 75vh !important;
    }
    #divHome{
        align-items: center !important;
        justify-content: center !important;
    }
    #imgHome{
        width: 80vw !important;
        height: 40vh !important;
    }

    #imgLogo{
        width: 20% !important;
    }

    nav{
        height: 10vh;
    }

    .nav-list{
        position: absolute;
        top: 85vh;
        right: 0;
        width: 50vw;
        height: 60vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        background: #f5f5f5;
    }
    
    .nav-list li {
        margin-left: 0;
        text-decoration: underline;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active{
        transform: translateX(0);
    }

    @keyframes navLinkFade{
        from {
            opacity: 0;
            transform: translateX(50px) ;
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
    }

    #Sobre {
        flex-direction: column !important;
    }

    #Sobre-left, #Sobre-right {
        margin: 0 !important;
        width: 100% !important;
        padding: 0 !important;
    }

    #Sobre-left{
        padding: 5%;
        height: 50vh !important;
    }
    #Sobre-left h2{
        font-size: 2em !important;
    }

    #Sobre-right p{
        font-size: 0.9rem !important;
    }
    
    .flex_row {
        flex-direction: column;
        align-items: center;
    }

    .col-2 {
        width: 60% !important;
        height: 20% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}*/

@media (max-width: 450px){
    
    body {
        
        overflow-x: hidden;
    }

    /* Home */
    #Home{
        display: flex !important;
        height: 50vh !important;
    }
    #divHome{
        align-items: center !important;
        justify-content: center !important;
    }
    #imgHome{
        width: 100vw !important;
        height: 40vh !important;
    }

    #imgLogo{
        width: 35% !important;
    }

    .nav-list{
        position: absolute;
        top: 57vh;
        right: 0;
        width: 100vw;
        height: 60vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        background: #f5f5f5;
    }
    
    .nav-list li {
        margin-left: 0;
        text-decoration: underline;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active{
        transform: translateX(0);
    }

    @keyframes navLinkFade{
        from {
            opacity: 0;
            transform: translateX(50px) ;
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
    }

    #Sobre {
        flex-direction: column !important;
    }

    #Sobre-left, #Sobre-right {
        margin: 0 !important;
        width: 100% !important;
        padding: 0 !important;
    }

    #Sobre-left{
        padding: 5%;
        height: 40vh !important;
    }
    #Sobre-left h2{
        font-size: 1.5em !important;
    }

    #Sobre-right p{
        font-size: 0.7rem !important;
    }
    
    .flex_row {
        flex-direction: column;
        align-items: center;
    }

    .col-2 {
        width: 80% !important;
        height: 60% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}